body {
  font-family: 'Segoe UI', Tahoma;
  margin: 0;
  padding: 0;
  background-color: #fbd991;

}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #35a1bb;
  color: white;
  padding: 15px 30px;
  margin-bottom: 20px;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.blog-posts {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 15px;
  justify-content: space-between; /* Ensures equal spacing between blog posts */
}

.blog-post {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: calc(50% - 20px); /* Ensures both blog posts take up equal width minus the spacing */

  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Flexbox for content alignment */
  justify-content: space-between; /* Ensures content is spaced evenly */
}


.post-title {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.post-meta {
  color: #777;
  margin: 5px 0 15px 0;
}

.post-image {
  max-width: 100%;
  height: auto;
  margin: 15px 10px;
  border-radius: 8px;
}

.post-text {
  font-size: 1.1em;
  line-height: 1.6;
}

hr {
  border: none;
  height: 1px;
  background: #eee;
  margin: 20px 0 0 0;
}
